<%- layout("layout22/boilerplate") %>
<br>
<body>
    <div>
        <h5>Please select the file and upload it !!!! Note:- Only CSV format </h5>
        <div>
            <br>
        </div>
    <form action="/bulkupload" method="post" enctype="multipart/form-data">
<input type="file" name="bulkdata">
<button class="btn btn-warning">Upload</button>
</div></div>

    </form>
</body>