<%- layout("layout22/boilerplate") %>

<style> .temp{
height: 500px;
width: 500px;
}</style>

<body>
    
    <div class="tenor-gif-embed temp" data-postid="16883422" data-share-method="host" data-aspect-ratio="1.33333" data-width="100%"><a href="https://tenor.com/view/404-not-found-not-available-corrupted-gif-16883422">404 Not Found GIF</a>from <a href="https://tenor.com/search/404-gifs">404 GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</body>